/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}
/* 隐藏代码块右上角的复制按钮 */  
.toolbar-item button[data-copy-state="copy"] {  
  display: none !important;  
}
